:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Elementos Base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    background-color: transparent;
    margin-left: 30px;
    margin-top: 5px;
    color: var(--vermelho);
    font-family: 'BebasNeue-Regular';
    font-size: 40px;
}

header nav a {
    background-color: transparent;
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: 14px;
}

header nav a:hover {
    color: #fff;
}


/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/capa-house.jpg');
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container {
    width: 70%;
}

.filme-principal .container {
    /*Titulos e Botões*/
    margin-left: 30px;
    margin-bottom: 50px;
    width: 70%;
}

.filme-principal .titulo {
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-bottom: 50px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .6s ease all;
}

.filme-principal .botao:hover {
    background-color: white;
    color: black;
}

.filme-principal .botao i {
    margin-right: 8px;
}

.titulo-lancamento {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}


/*Carrosel onde os filmes e entre outros passam a ser girado quando clicando em cima e passando para a esquerda ou direita*/

.carrosel-filmes {
    margin-top: 5px;
}

.botoes .botoes-filme {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 115px;
    margin-bottom: 20px;
    font-size: 12px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    transition: .6s ease all;
}

.botoes .botoes-filme:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
}

.link-blue {
    color: white;
    text-decoration: none;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


/*Rodapé do site com minhas credenciais*/

nav .rodape {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 70%;
    border: none;
    font-size: 12px;
}


/*rodapé com efeito de transparencia ao passar o mouse*/

footer nav p {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

footer nav p:hover {
    color: white;
}